{% extends "form_div_layout.html.twig" %}

{# Don't render the radio button's label #}
{% block _jms_choose_payment_method_method_label %}
{% endblock %}

{# Hide each entry in the radio button #}
{% block choice_widget %}
    <div style="display:none;">
        {{ parent() }}
    </div>
{% endblock %}
